@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}

.navigation {
display: flex;
width: 1200px;
}

.navigation-logo {
    width: 138px;
    margin-right: 30px;
    margin-left: 70px;
}
.navigation-list {
    list-style: none;
    width: 450px;
    margin: 0;
    padding: 0;
}

.navigation-user {
    list-style: none;
    margin-left: auto;
    max-width: 300px;
    margin-right: 70px;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

.navigation-user-link {
    width: 20px;
    height: 20px;
    color: inherit;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color: #000000;
    background-color: #FFFFFF;
}

.page-container {
width: 1200px;
margin: 0 auto;
    }

.hero {
    background-image: url("../images/main-page/index-background.jpg");
    background-color: #FFFFFF;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-img {
display: block;
margin: 0 auto;
}

.advantages {
    text-align: center;
}

.index-columns {
   display: flex;
   justify-content: space-between;
}

.advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.advantages-item-text-wrapper {
    /* display: flex; */
    /* flex-direction: row; */
    width: 400px;
    height: 385px;
}

.advantages-item-img {
width: 800px;
height: 385px;
}


.catalog-list,
.pagination-item {
    list-style: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    width: 651px;
}

.advantages-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
}


.advantages-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item-blue-town,
.advantages-item-blue-devil {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-size: 100% auto;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 103px 85px;
    /* gap: 10px; */
    width: 400px;
    height: 385px;
}

.advantages-item-light-grey-square,
.advantages-item-light-grey-tourist {
    color: #000000;
    background-color: #83B3D31F;
    background-repeat: no-repeat;
    width: 400px;
    height: 385px;
}

.advantages-item-dark-grey {
    color: #000000;
    background-color: #83B3D333;
    background-repeat: no-repeat;
    width: 400px;
    height: 385px;
}

.conveniences {
    text-align: center;
}

.conveniences-item {
    width: 400px;
}

.conveniences-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.conveniences-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.conveniences-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.conveniences-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    width: 230px;
    margin: 0 auto;
}

.conveniences-item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 230px;
    margin: 0 auto;
}

.hotel-search {
    text-align: center;
    width: 592px;
    margin: 0 auto;
}
.hotel-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-search-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.button-search {
    color: #FFFFFF;
    background-color: #756157;
    width: 376px;
    height: 52px;
    padding: 8px 50px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.page-footer-container {
    width: 1200px;
    margin: 0 auto;
}

.page-footer {
    text-align: center;
    text-decoration: none;
}

.page-footer a {
    color: inherit;
}

.newsletter {
    text-align: center;
    background-image: url("/images/main-page/Subscribe.jpg");
    color: #FFFFFF;
    background-size: 100% auto;
    height: 414.86px;
    background-repeat: no-repeat;
}

.newsletter-wraper {
    width: 475px;
    margin: 0 auto;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.newsletter-form {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.field {
    width: 452px;
    height: 52px;
    background-color: #F2F2F2;
}

.button-newsletter-button {
    width: 232px;
    height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.footer-contacts-wraper {
display: flex;
justify-content: space-between;
}

.footer-social {
    width: 142;
}

.button-vk {
    width: 39px;
}

.button-tg {
    width: 39px;
}

.button-ut {
    width: 39px;
}

.footer-social-list {
    list-style: none;
}
.footer-social-item {
    color: #83B3D3;
    background-color: #FFFFFF;
    text-align: center;
    width: 39px;
}

.contact-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    width: 720px;
}

.page-footer .contact-site {
    height: 33px;
    width: 115px;
    left: 945px;
    top: 8.5px;
    border-radius: 0;
    text-decoration: none;
}

/* Catalog */

.main-inner {
    flex-grow: 1;
}

.inner-header {
    margin-left: 70px;
    width: 114px;
}

.catalog-hostels {
display: flex;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
width: 340px;
}

.catalog-filter {
margin-left: 70px;
width: 370.85px;
}

.catalog-fills {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url("../images/catalog/catalog-background-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-right-column {
width: 1200px;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-transform: none;
}



.breadcrumbs {
    color: #FFFFFF;
}

  .breadcrumbs-link {
    color: inherit;
}

.sorting-container {
    color: #000000;
    background-color: #ffffff;
}

.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
}

.button-black {
color: #000000;
background-color: #FFFFFF;
}

.button-choose {
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
    background-color: #82B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 50px;
}

.button-transparent {
    font-family: "PT Sans", sans-serif;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 50px;
}

.button-brown {
    color: #FFFFFF;
    background-color: #756157;
    text-transform: uppercase;
    font-weight: 700;
    width: 140px;
    height: 36px;
    padding: 8px 26px;
}

.button-blue {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 26px;
}

.button-green {
    color: #FFFFFF;
    background-color: #7DB54F;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 26px;
}

.catalog-list {
    background-color: #FFFFFF;
}

.catalog-card-title {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
}

.catalog-card-link {
    text-decoration: none;
}

.catalog-card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.pagination {
    color: #FFFFFF;
    display: flex;
    background-color: #82B3D3;
    width: 400px;
    font-family: PT Sans;
font-weight: 700;
font-size: 20px;
line-height: 36px;
align-items: center;
}

.pagination-item {
    width: 60px;
    height: 60px;
}

.pagination-current {
    color: #000000;
}

.visually-hidden-4stars
.visually-hidden-3stars,
.visually-hidden-2stars, {
    font-weight: 400;
}



.reiting {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.reiting-estimation {
    text-transform: uppercase;
    color:  #333333;
    background: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/* vertical-align: middle - убрать пустое пространство
.card img {
  vertical-align: middle;
}
... */
